body {
    @include ff();
    background: $gradient;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: $headings;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    display: inline-block;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button,
[type='button'],
.button {
    appearance: none;
    border: 1px solid $headings;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    background: none;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    background: $headings;

    &:hover,
    &:focus {
        background: transparent;
        color: $headings;
    }

    + button,
    + [type='button'] {
        margin-left: 15px;
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

form {
    input,
    label {
        clear: both;
        display: block;
    }

    input {
        margin-bottom: 1.5em;
    }
}

dl,
dd,
dt {
    margin: 0;
}

form {
    width: 100%;
    @include media('>desktop') {
        max-width: 50%;
        margin: 0 auto;
    }
}

input,
textarea {
    &[type='text'],
    &[type='number'],
    &[type='email'],
    &[type='date'],
    &[type='password'] {
        appearance: none;
        border: 1px solid #ddd;
        border-bottom-right-radius: 10px;
        padding: 5px 10px;
        min-height: 40px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.25);
        margin-top: 0.5em;
        margin-bottom: 1em;
        width: 100%;

        &:focus {
            border-color: $headings;
            outline: 0;
        }
    }
}

textarea {
    resize: vertical;
}
