.profiles__list {
    margin-bottom: 1.5em;
}

.profiles-list__item {
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
    margin-bottom: 1.5em;
    border-bottom-right-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.25s;

    &:hover,
    &:focus {
        transform: scale(1.025);
        background: $gradient;

        .profiles-list__preview {
            color: $headings;
        }
    }

    @include media ('<phone') {
        padding: 10px;
    }
    @include media('>=phone') {
        padding: 20px 40px;
    }

    &:last-of-type {
        border-bottom-width: 1px;
    }
}

.profiles-list__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: all 0.25s;

    @include media('<tablet') {
        flex-direction: column;
    }
}

.profiles-list__img {
    max-height: 150px;
    float: right;
}

.profiles-list__name {
    font-weight: 600;
    margin-bottom: 1.5em;
}

.profiles-list__info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profiles-list__name {
    @include media('<tablet') {
        margin: 1.5em 0 0;
    }
}

.profiles__list--grid {
    display: grid;
    grid-gap: 30px;

    @include media ('<tablet') {
        grid-template-columns: repeat(1, 100%);
    }
    @include media ('>=tablet', '<desktop') {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media ('>=desktop') {
        grid-template-columns: repeat(3, 1fr);
    }
    .profiles-list__item {
        margin: 0;
        padding: 20px;

        .profiles-list__preview {
            flex-direction: column;

            .profiles-list__name {
                margin: 1.5em 0 0;
            }
        }
    }
}
