.container {
    max-width: $max-width;
    margin: 0 auto;

    @include media('<desktop') {
        padding: 0 15px;
    }
}

.link__back {
    display: block;
    clear: both;
    margin-top: 25px;
    margin-left: 15px;
    float: left;
}
